/*
Bootstrap
https://getbootstrap.com/docs/5.0/getting-started/introduction/
*/
$enable-flex: true; // Enable Flexbox mode
$enable-responsive-font-sizes: true;
$enable-deprecation-messages: true;
@import "~bootstrap/scss/bootstrap.scss";

$color-current-navigation-link-light: #007acc;
$color-current-navigation-link-dark: white;

li {
  font-size: large;
}

div.panel-heading {
  font-size: x-large;
}

body {
  margin-top: 1em;
}

.nav-link {
  font-size: large;
  cursor: pointer;
}

.navbar-light {
  .navbar-nav {
    .nav-item.active {
      .nav-link {
        color: $color-current-navigation-link-light;
        font-weight: bold;
      }
    }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-item.active {
      .nav-link {
        color: $color-current-navigation-link-dark;
        font-weight: bold;
      }
    }
  }
}
